*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}


@import "partials/colors.scss";
@import "partials/header";
@import "partials/layout";

body{
    font-family: 'sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;

    background-color: $primary-normal;
}

button{
    font-family: 'sora', sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $red-light;
    }
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button{
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: transparent;
    transition: all 1s;
    a{
        color: $white-normal;
    }
}

.header-button:hover{
    border: 1px solid $red-light;
    background-color: $red-light;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

